


$color1: #FF971D;
$color1_2: #ff961dd6;
$color1_3: #ff961da4;
$color1_4: #ff961d60;
$color1_5: #ff961d0b;

$color2: #FFE8D6;
$color2_2: #FFE8D6;
$color2_3: #FFE8D6;
$color2_4: #FFE8D6;
$color2_5: #FFE8D6;

$color3: #F9F6F7;
$color3_2: #F9F6F7;
$color3_3: #F9F6F7;
$color3_4: #F9F6F7;
$color3_5: #F9F6F7;

$color4: #FFFFFF;



/* BOOTSTRAP */
$primary: $color1;
$font-family-sans-serif: "Poppins";


