

.product-card{
    cursor: pointer;
    .card-star{
        span{
            font-size: .9rem;
            margin-left: .7rem;
            font-weight: 200;
            color: rgb(156, 149, 149);
        }
    }
    .card-text{
        white-space: nowrap;
    }

    .card-footer{
        @media(max-width:1400px){
            flex-direction: column;
        }
    }
}