@use "../../styles/variables" as v;

.footer{
    text-align: center;
    padding: 1rem;
    border-top: 1px solid v.$color1_5;
    background-color: white;

    >.row{
        display: flex;
        gap: 1rem;
    }
  img{
    width: 200px;
  }

  span{
    font-weight: 200;
    color: gray;
    margin: 1rem;
  }
}