@use "../../styles/variables" as v;

.nav{
    flex-direction: row;
    gap: 1rem;
}

.nav-item{

    a{
       color: v.$color1;
       font-size: 1.2rem;
       font-weight: 200;

       @media (max-width:768px){
           font-size: .9rem;
       }
    }
}